@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #fff;
  --background-hex: #140c1f;
}

body {
  color: var(--foreground-hex);
  background-color: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
